/** Ensure dat.GUI has higher z-index **/
.dg.ac {
    z-index: 9999 !important;
}

/** dat.gui font **/
.dg {
  font: 12px "Geist", system-ui, sans-serif !important;
  color: white!important;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.1)!important;
}

.dg .cr.string input[type=text] {
  font: 12px "Geist", system-ui, sans-serif !important;
}

/** other styling **/
.dg li.title {
    background-color: black!important;
}

.dg li:not(.folder) {
    background-color: black!important;
}

.close-button {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    height: 2rem!important;
    border-bottom-left-radius: 1rem!important;
    border-bottom-right-radius: 1rem!important;
    font-weight: 700!important;
}
